body {
    padding-left: 15%;
    padding-right: 15%;
    color: white;
    background-color: #101926;
}

#box {
    margin-left: 30%;
    margin-right: 30%;
    background-color: #588785;
    padding: 20px;
    border-radius: 25px;
}

a {
    color: white;
    text-decoration: none;
}
